---
import ApisLayout from "../layouts/ApisLayout.astro";
// Información de las APIs
const apis = [
  {
    name: "Spotify Playback  API",
    description: "API para recuperar información de una playlist de spotify.",
    endpoint: `${Astro.request.headers.get('host')}/api/spotify`,
    method: "GET",
  },
];
---

<ApisLayout title="APIs Dashboard - Here I Am" apis={apis}>
  <h2 class="mb-4 font-semibold text-xl">Listado de APIs disponibles</h2>
  <ul class="divide-y divide-gray-200">
    {
      apis.map((api) => (
        <li class="py-4">
          <h3 class="font-bold text-lg">{api.name}</h3>
          <p class="text-gray-600 text-sm">{api.description}</p>
          <p class="text-gray-800 text-sm">
            <span class="font-medium">Endpoint:</span>
            <a
              href={api.endpoint}
              target="_blank"
              class="text-blue-500 hover:text-blue-300 hover:underline"
            >
              {api.endpoint}
            </a>
          </p>
          <p class="text-gray-800 text-sm">
            <span class="font-medium">Método:</span> {api.method}
          </p>
        </li>
      ))
    }
  </ul>
</ApisLayout>
