---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  lang?: "en" | "es";
}

const {
  title,
  lang = "en",
  description = "Sergio Domínguez Pérez es un desarrollador Full-Stack con experiencia en el desarrollo de aplicaciones web y móviles. Su portafolio incluye proyectos destacados que demuestran su habilidad en tecnologías como React, Node.js y más. Explora su trabajo y descubre cómo puede ayudar a llevar tus ideas al siguiente nivel.",
} = Astro.props;

const translations = {
  en: {
    home: "Home",
    experience: "Experience",
    projects: "Projects",
    contact: "Contact",
    switchLang: "Español",
  },
  es: {
    home: "Inicio",
    experience: "Experiencia",
    projects: "Proyectos",
    contact: "Contacto",
    switchLang: "English",
  },
};

const t = translations[lang];
const altLang = lang === "en" ? "es" : "en";
const countryFlag = lang === "en" ? "/icons/esp.svg" : "/icons/gbr.svg";
const currentPath = Astro.url.pathname;
const altPath = currentPath.replace(`/${lang}`, `/${altLang}`);
export const prerender = true;
---

<!doctype html>
<html lang={lang}>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <!-- OG -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:site_name"
      content="Sergio Domínguez Pérez - Full-Stack Developer Portfolio"
    />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sergiodominguez.vercel.app" />
    <meta property="og:image" content="/screenshot.jpg" />
    <meta
      property="og:image:alt"
      content="Sergio Domínguez Pérez - Full-Stack Developer Portfolio"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/jpg" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/screenshot.jpeg" />
    <meta name="twitter:creator" content="@sergiolkg" />
    <meta name="twitter:site" content="@sergiolkg" />
    <meta name="twitter:site:id" content="sergiolkg" />
    <meta name="twitter:creator:id" content="sergiolkg" />
    <meta
      name="twitter:image:alt"
      content="Sergio Domínguez Pérez - Full-Stack Developer Portfolio"
    />
    <!-- scripts -->
    <ViewTransitions />
    <!-- links -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="alternate"
      hreflang="en"
      href={`https://sergiodominguez.vercel.app/en${currentPath.replace(/^\/(en|es)/, "")}`}
    />
    <link
      rel="alternate"
      hreflang="es"
      href={`https://sergiodominguez.vercel.app/es${currentPath.replace(/^\/(en|es)/, "")}`}
    />
    <link
      rel="canonical"
      href={`https://sergiodominguez.vercel.app${currentPath}`}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col"
  >
    <Header
      lang={lang}
      translations={t}
      altLang={altLang}
      altPath={altPath}
      countryFlag={countryFlag}
    />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer lang={lang} />

    <script>
      const isDarkMode =
        localStorage.getItem("darkMode") === "true" ||
        (localStorage.getItem("darkMode") === null &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      if (isDarkMode) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
